@using AsifNutsNSeeds.Data.ViewModels

@model ShoppingCartVM

@{
	ViewData["Title"] = "Shopping cart summary";
}



<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                   
                </div>

                @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                {
                    <div class="card rounded-3 mb-4">
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <img src="@item.Product.ImageURL" class="img-fluid rounded-3" alt="@item.Product.ProductName">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <p class="lead fw-normal mb-2">@item.Product.ProductName</p>
                                   
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                   
									<a class="text-center" asp-controller="Orders" asp-action="RemoveItemFromShoppingCart" asp-route-id="@item.Product.Id">
                                        <i class="bi bi-dash" style="font-size: 24px;"></i>
									</a>
									<span class="form-control form-control-sm border border-secondary">@item.Amount</span>
									<a class="text-success" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Product.Id">
                                        <i class="bi bi-plus" style="font-size: 24px;"></i>
									</a>
                                    
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
									<h5 class="mb-0">@((item.Amount * item.Product.ProductPrice).ToString("c"))</h5>
                                </div>
                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                    <a href="@Url.Action("RemoveItemFromShoppingCart", "Orders", new { id = @item.Product.Id })" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }


                <div class="card">
                    <div class="card-body row">
                        <div class="col-md-4">
                            @if (User.Identity.IsAuthenticated)
                            {
                            <div id="paypal-btn"></div>
                                
                            }
                            else
                            {
                                <a class="btn btn-outline-dark my-2 my-sm-0" asp-controller="Account" asp-action="Login">
                                    <i class="bi bi-box-arrow-in-right"></i> Log in
                                </a>
                            }
                        </div>
                       
                        <div class="col-md-4">
                            <div class="d-flex justify-content-between p-2 mb-2" style="background-color: #eeeeee;">
                                <h5 class="fw-bold mb-0">Total:</h5>
                                <h5 class="fw-bold mb-0" style="margin-left: auto;">@Model.ShoppingCartTotal.ToString("c")</h5>
                            </div>

                        </div>

                    </div>
                </div>

        </div>
    </div>
</section>





@section Scripts {

	<script src="https://www.paypalobjects.com/api/checkout.js"></script>

	<script>

		let _total = @Html.Raw(Model.ShoppingCartTotal);

		paypal.Button.render({
			//Configure environment
			env: 'sandbox',
			client: {
				sandbox: 'AUTvnAXyTBrAPKYWKMQQ18Lz6fne2EnROx0vkxeSRJzo3EHlFNk67UA-aMQfZXTOI65RkaKPZWL3UCan'
			},

			//Customize button
			locale: 'en_US',
			style: {
				size: 'medium',
				color: 'gold',
				shape: 'pill'
			},
			commit: true,

			//Set up a payment
			payment: function (data, actions) {
				return actions.payment.create({
					transactions: [{
						amount: {
							total: _total,
							currency: 'USD'
						}
					}]
				});
			},

			//Execute the payment
			onAuthorize: function (data, actions) {
				return actions.payment.execute().then(function () {
					var url = '@Url.Action("CompleteOrder", "Orders", new { })';
					window.location.href = url;
				});
			}

		}, '#paypal-btn')
	</script>
}