@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "List of all users";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">List of all users</h4>

                    <div class="table-responsive shadow table-striped border">
                        <table class="table">
                            <thead>
                                <tr class="text-center">
                                    <th>@Html.DisplayNameFor(model => model.Fullname)</th>
                                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                                    <!-- New table headers for address-related fields -->
                                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                                    <th>@Html.DisplayNameFor(model => model.City)</th>
                                    <th>@Html.DisplayNameFor(model => model.PostalCode)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="text-center">
                                        <td class="align-middle">
                                            @Html.DisplayFor(modelItem => item.Fullname)
                                        </td>
                                        <td class="align-middle">
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td class="align-middle">
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <!-- New table data cells for address-related fields -->
                                        <td class="align-middle">
                                            @Html.DisplayFor(modelItem => item.Address)
                                        </td>
                                        <td class="align-middle">
                                            @Html.DisplayFor(modelItem => item.City)
                                        </td>
                                        <td class="align-middle">
                                            @Html.DisplayFor(modelItem => item.PostalCode)
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
